* {
  margin: 0;
  padding: 0;
  border: 0;
  max-width: 1366px;
  box-sizing: border-box;
}

body {
  max-width: 1366px;
  margin-left: 20px;
}

h1 {
  margin: 20px 0;
}

.color {
  display: inline-block;
  width: 40px;
  padding: 40px;
  border: black 1px solid;
  border-radius: 20%;
}

#pixel-board {
  margin: 20px;
  max-width: 400px;
}


.pixel {
  display: inline-block;
  height: 40px;
  width: 40px;
  border: black 1px solid;
  box-sizing: border-box;
  margin: -2px 0;
}

.selected {
  border-radius: 50%;}

button {
  margin: 5px;
  margin-top: 15px;
  font-size: 1.3em;
  padding: 3px;
  display: inline-block;
  font-weight: 800;
  border: black 1px solid;
}
